.DS_Store
.gradle/*

classes
service/build/*
service/logs/*
build/*
out/*
.idea
*.iml
*.iws
*.ipr
*.log

output.txt
productService.pid
jmeter.log
jmeterResults_*
jmeterInput_*

logs/*
cache/*

gradle/
gradlew
gradlew.bat
/bin/
